html,
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
th,
td,
menu {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, "Microsoft YaHei", '微软雅黑', 'Avenir', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: -moz-hidden-unscrollable;
}

ul,
ol,
menu {
  list-style: none
}

fieldset,
img {
  border: none
}

img,
object,
select,
input,
textarea,
button {
  vertical-align: middle
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

i {
  font-style: normal;
}

// 版心
.area {
  width: 1190px;
  margin: 0 auto;
}

// 清除浮动
.clearfix {
  zoom: 1;

  &::after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}



#app {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* arabic */
@font-face {
  font-family: 'Baloo Bhaijaan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Bhaijaan Regular'), local('BalooBhaijaan-Regular'), url(https://fonts.gstatic.com/s/baloobhaijaan/v6/RWmRoKCU5fcqq8fOWNzFLqSjx7EALGRBCF-UEnc.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

/* vietnamese */
@font-face {
  font-family: 'Baloo Bhaijaan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Bhaijaan Regular'), local('BalooBhaijaan-Regular'), url(https://fonts.gstatic.com/s/baloobhaijaan/v6/RWmRoKCU5fcqq8fOWNzFLqSjx7EKLGRBCF-UEnc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Baloo Bhaijaan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Bhaijaan Regular'), local('BalooBhaijaan-Regular'), url(https://fonts.gstatic.com/s/baloobhaijaan/v6/RWmRoKCU5fcqq8fOWNzFLqSjx7ELLGRBCF-UEnc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Baloo Bhaijaan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Bhaijaan Regular'), local('BalooBhaijaan-Regular'), url(https://fonts.gstatic.com/s/baloobhaijaan/v6/RWmRoKCU5fcqq8fOWNzFLqSjx7EFLGRBCF-U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
