#app {

    // 主体区域
    .main-container {
        min-height: 100%;
        transition: margin-left 0.28s;
        flex: 1;
        @include flex_up_down_layout;
        overflow-y: scroll;
    }

    // 侧边栏
    .sidebar-container {
        transition: width 0.28s;
        width: 180px !important;
        height: 100%;
        z-index: 1001;
        border-radius: 0px 30px 30px 0px;
        overflow: hidden;
        border: none;

        a {
            display: inline-block;
            width: 100%;
        }

        .svg-icon {
            margin-right: 9px;
        }

        .el-menu {
            border: none;
            width: 100%;
        }
    }

    .hideSidebar {

        .sidebar-container,
        .sidebar-container .el-menu {
            width: 36px !important;
        }

        .main-container {
            margin-left: 36px;
        }
    }

    .hideSidebar {
        .submenu-title-noDropdown {
            padding-left: 10px !important;
            position: relative;

            span {
                height: 0;
                width: 0;
                overflow: hidden;
                visibility: hidden;
                transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
                opacity: 0;
                display: inline-block;
            }

            &:hover {
                span {
                    display: block;
                    border-radius: 3px;
                    z-index: 10;
                    width: 140px;
                    height: 56px;
                    visibility: visible;
                    position: absolute;
                    right: -145px;
                    text-align: left;
                    text-indent: 20px;
                    top: 0px;
                    // background-color: $subMenuBg !important;
                    opacity: 1;
                }
            }
        }

        .el-submenu {
            &>.el-submenu__title {
                padding-left: 10px !important;

                &>span {
                    display: none;
                }

                .el-submenu__icon-arrow {
                    display: none;
                }
            }

            .nest-menu {
                .el-submenu__icon-arrow {
                    display: block !important;
                }

                span {
                    display: inline-block !important;
                }
            }
        }
    }

    .nest-menu .el-submenu>.el-submenu__title,
    .el-submenu .el-menu-item {
        min-width: 180px;
        background-color: $subMenuBg;
        margin-left: 10px;
        padding-left: 10px !important;

        &:hover {
            background-color: $subMenuBg !important;
            color: #F7DAB4 !important;
        }
    }

    .el-menu-item,
    .el-submenu__title {
        &:hover {
            background-color: $subMenuBg !important;
            color: #F7DAB4 !important;
        }
    }

    .sidebar_wrap {
        height: 100%;
        @include flex_up_down_layout;

        /deep/ {
            .el-scrollbar__view {
                padding: 15px 0;
                overflow-x: hidden;
            }

            .secondaryMenu {
                padding-left: 28px !important;
            }

            .menu-wrapper {
                flex: 1;
            }
        }

        .el-menu-item.is-active {
            background-color: #F5F6F9 !important;
            border-radius: 30px 0 0 30px;
            width: 180px;
            margin-left: 10px;
            padding-left: 10px !important;
            position: relative;

            &:hover {
                color: #FE9818 !important;
            }

            &::before {
                content: "";
                position: absolute;
                width: 32px;
                height: 45px;
                line-height: 120px;
                display: block;
                text-align: center;
                background: #58a;
                background: radial-gradient(circle at top left, #fe9817 15px, #F5F6F9 0) top left;
                background-size: 50% 50%;
                background-repeat: no-repeat;
                top: -15px;
                right: -7px;
                z-index: 1;
            }

            &::after {
                content: "";
                position: absolute;
                width: 32px;
                height: 45px;
                line-height: 120px;
                display: block;
                text-align: center;
                background: #58a;
                background: radial-gradient(circle at bottom left, #fe9817 15px, #F5F6F9 0) bottom left;
                background-size: 50% 50%;
                background-repeat: no-repeat;
                bottom: -15px;
                right: -7px;
                z-index: 1;
            }

        }

        .el-menu--collapse .el-menu .el-submenu {
            min-width: 180px;
        }

        .el-menu-item,
        .el-submenu__title {
            height: 40px;
            line-height: 38px;
            transition: ease all 0s !important;
        }

        .el-submenu__title i {
            color: #FFFFFF;
            font-weight: 600;
        }
    }
}