// 登陆
.login_fill {
    .el-tabs /deep/ {
        .el-tabs__header {
            width: 144px;
            margin-bottom: 12px;
        }

        .el-tabs__active-bar {
            background-color: #FE9818;
        }

        .el-tabs__nav-wrap::after {
            height: 1px;
            background-color: #F4F4F4;
        }

        .el-tabs__item {
            padding: 0 32px 0 0;
            height: 34px;
            color: #C5C8CD;

            &:last-child {
                padding: 0;
            }
        }

        .is-active {
            color: #010714;
        }

        .el-tabs__content {
            overflow: inherit;
        }

        .el-form-item {
            margin-bottom: 36px;
        }

        .login_wrap {
            width: 400px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            padding: 16px 10px 0;
            box-sizing: border-box;
            margin: 12px 0 20px;

            .el-form-item {
                margin-bottom: 0;

                &:first-child {
                    border-bottom: 1px solid #F4F4F4;
                }

                &:nth-child(2) {
                    margin-top: 7px;
                }
            }

            .el-input__inner {
                border: 0px;
                font-size: 14px;
                font-weight: normal;
                padding-left: 4px;
            }

            .el-form-item__label {
                font-size: 16px;
                font-weight: normal;
                color: rgba(1, 7, 20, 1);
                line-height: 16px;
                padding: 0;

                &::before {
                    content: ""
                }
            }

            .el-form-item__error {
                font-size: 12px;
                font-weight: normal;
                color: rgba(246, 67, 89, 1);
                top: -21px;
                left: 56px;
            }

            .el-icon-lock,
            .el-icon-user {
                font-size: 20px;
                position: absolute;
                left: -22px;
                top: -31px;
            }

            .el-input__clear {
                font-size: 20px;
                position: absolute;
                left: -22px;
            }
        }

        .chk_inner {
            margin-bottom: 38px;

            .el-checkbox__input.is-checked .el-checkbox__inner {
                background-color: #FE9818;
                border-color: #FE9818;
            }

            .el-checkbox__input.is-focus .el-checkbox__inner {
                border-color: #FE9818;
            }

            .el-checkbox__label,
            .el-link--inner {
                font-weight: normal;
                color: rgba(199, 202, 207, 1);
            }

            .el-link--default {
                float: right;
                right: 13px;
                top: 4px;
            }
        }
    }
}

// 注册
.register_fill {
    .el-form {
        width: 367px;
    }

    .el-form>>> {
        .el-form-item__label {
            text-align-last: justify;
            font-size: 16px;
            font-weight: normal;
            color: rgba(1, 7, 20, 1);
        }

        .register_foot {
            .el-form-item__content {
                margin-left: 0 !important;
                margin-top: 17px;
            }
        }


        .el-input__inner {
            width: 280px;
            height: 36px;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
            border-radius: 4px;
            border: none;
            font-size: 12px;
        }

        .is-error {
            .el-input__inner {
                border: 1px solid rgba(254, 152, 24, 1);
            }
        }

        .el-form-item.is-error .el-input__validateIcon {
            color: rgba(254, 152, 24, 1);
        }

        .el-form-item__error {
            color: #F64359;
            padding-top: 1px;
        }

        .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
            content: "";
            display: none;
        }

        .chk_inner {
            margin: 0;

            .el-checkbox__input.is-checked .el-checkbox__inner {
                background-color: #FE9818;
                border-color: #FE9818;
            }

            .el-checkbox__input.is-focus .el-checkbox__inner {
                border-color: #FE9818;
            }

            .el-checkbox__label,
            .el-link--inner {
                font-weight: normal;
                color: rgba(199, 202, 207, 1);
            }
        }

        .contract {
            .el-link--inner {
                font-size: 14px;
                font-weight: normal;
                color: rgba(254, 152, 24, 1);
            }

            .el-link.is-underline:hover:after {
                border-color: rgba(254, 152, 24, 1);
            }
        }
    }
}

.login_btn,
.register_btn {
    width: 159px;
    height: 40px;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    font-weight: normal;
    color: rgba(255, 255, 255, 1);
}

.login_btn {
    background: rgba(254, 152, 24, 1);
    box-shadow: 0px 6px 12px 0px rgba(253, 147, 24, 0.58);

    &:focus {
        background: rgba(201, 116, 9, 1);
    }

    &:hover {
        background: rgba(234, 137, 15, 1);
    }
}

.register_btn {
    background: rgba(254, 253, 251, 1);
    border: 1px solid rgba(241, 241, 241, 1);
    color: rgba(1, 7, 20, 1);

    &:focus {
        background: rgba(231, 227, 219, 1);
    }

    &:hover {
        background: rgba(244, 243, 241, 1);
    }
}